/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
}

.logo-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 30px 20px;
    height: auto;
}

a:focus {
    outline: none;
}

/*nav*/

body {
    overflow-x: hidden;
}

.menu-opener {
    cursor: pointer;
}

.menu-opener-inner {
    background: #FFF;
    height: 5px;
    margin-left: 3px;
    margin-top: 20px;
    margin-right: 5%;
    width: 40px;
    float: right;
}

.menu-opener-inner::before,
.menu-opener-inner::after {
    background: #FFF;
    content: '';
    display: block;
    height: .35rem;
    width: 2.5rem;
}

.menu-opener-inner::before {
    -webkit-transform: translateY(-0.75rem);
    -ms-transform: translateY(-0.75rem);
    transform: translateY(-0.75rem);
}

.menu-opener-inner::after {
    -webkit-transform: translateY(0.25rem);
    -ms-transform: translateY(0.25rem);
    transform: translateY(0.25rem);
}

.menu-opener-inner.active {
    background: transparent;
}

.menu-opener-inner.active::before {
    -webkit-transform: translateY(0rem) rotate(-45deg);
    -ms-transform: translateY(0rem) rotate(-45deg);
    transform: translateY(0rem) rotate(-45deg);
}

.menu-opener-inner.active::after {
    -webkit-transform: translateY(-0.5rem) translateX(0rem) rotate(45deg);
    -ms-transform: translateY(-0.5rem) translateX(0rem) rotate(45deg);
    transform: translateY(-0.5rem) translateX(0rem) rotate(45deg);
}

.menu {
    color: black;
    height: 64px;
    position: absolute;
    right: 0;
}

.menu.active .menu-inner {
    -webkit-transform: translate(-200px, 0);
    -ms-transform: translate(-200px, 0);
    transform: translate(-200px, 0);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.menu-inner {
    padding: 0;
    margin-top: -15px;
    right: -80px;
    position: absolute;
    -webkit-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    display: none;
}

.menu.active .menu-link,
.menu-inner li,
.menu-inner a {
    color: #FFF;
    list-style: none;
    text-decoration: none;
    line-height: 2;
    font-family: "Open Sans", sans-serif;
    font-size: 25px;
    font-weight: 300;
    padding: 5px;
}

.menu-inner li:hover {
    text-decoration: underline;
}

/*end of nav*/

header > div {
    background: url('../img/work/header.jpg') no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 399px;
}

.text {
    text-align: center;
    width: 85%;
    margin: 5% auto;
}

.text p:first-child {
    color: #d4af37;
    font-family: "Open Sans - Semibold", sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 60px;
    text-transform: uppercase;
    letter-spacing: 0.65px;
    text-align: center;
}

.text h3 {
    opacity: 0.7;
    color: #021725;
    font-family: "Open Sans - Semibold", sans-serif;
    font-size: 44px;
    font-weight: 400;
    line-height: 60px;
    letter-spacing: 2.2px;
    margin-bottom: 3%;
}

.text p:last-child {
    height: auto;
    color: #021725;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 32px;
    letter-spacing: 0.9px;
}

article .pics {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

article .pics div {
    width: 25%;
}

article .pics div img {
    width: 100%;
    display: block;
}

article .pics div img:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition: all 1.5s ease;
    -o-transition: all 1.5s ease;
    transition: all 1.5s ease;
    -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

article .pics div img:not(:hover) {
    -webkit-transition: 2s;
    -o-transition: 2s;
    transition: 2s;
}

footer {
    width: 100%;
    height: auto;
    background-color: #eeeeee;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 1.5%;
}

footer p {
    color: #505d68;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 34px;
}

a {
    text-decoration: none;
    color: #505d68;
}

a:hover {
    text-decoration: underline;
    color: black;
}

@media all and (max-width: 750px) {

    .logo-button {
        background-color: black;
        opacity: 0.6;
        padding: 15px 20px;
    }

    header > div {
        background: url('../img/work/header.jpg') no-repeat center fixed;
        background-size: cover;
        height: 800px;
    }

    .menu-inner {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        margin-top: 50px;
        right: -190px;
    }

    .menu-inner li,
    .menu-inner a {
        padding: 3px;
        font-size: 23px;
    }

    .text {
        width: 95%;
        margin: 100px auto;
    }

    .text p:first-child {
        font-size: 23px;
    }

    .text h3 {
        font-size: 65px;
        line-height: 70px;
        margin-bottom: 30px;
    }

    .text p:last-child {

        height: auto;
        font-size: 25px;
        line-height: 40px;
        font-weight: 100;
    }

    article .pics {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    article .pics div {
        width: 100%;
    }

    article .pics div img:hover {
        -webkit-transform: scale(1.0);
        -ms-transform: scale(1.0);
        transform: scale(1.0);
    }

    footer {
        width: 100%;
        height: auto;
        display: block;
        text-align: center;
        padding: 20px;
    }

    footer p {
        font-size: 20px;
    }

}
