/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
}

.logo-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 30px 20px;
    height: auto;
}

/*nav*/

body {
    overflow-x: hidden;
}

.menu-opener {
    cursor: pointer;
}

.menu-opener-inner {
    background: #FFF;
    height: 5px;
    margin-left: 3px;
    margin-top: 20px;
    margin-right: 5%;
    width: 40px;
    float: right;
}

.menu-opener-inner::before,
.menu-opener-inner::after {
    background: #FFF;
    content: '';
    display: block;
    height: .35rem;
    width: 2.5rem;
}

.menu-opener-inner::before {
    -webkit-transform: translateY(-0.75rem);
    -ms-transform: translateY(-0.75rem);
    transform: translateY(-0.75rem);
}

.menu-opener-inner::after {
    -webkit-transform: translateY(0.25rem);
    -ms-transform: translateY(0.25rem);
    transform: translateY(0.25rem);
}

.menu-opener-inner.active {
    background: transparent;
}

.menu-opener-inner.active::before {
    -webkit-transform: translateY(0rem) rotate(-45deg);
    -ms-transform: translateY(0rem) rotate(-45deg);
    transform: translateY(0rem) rotate(-45deg);
}

.menu-opener-inner.active::after {
    -webkit-transform: translateY(-0.5rem) translateX(0rem) rotate(45deg);
    -ms-transform: translateY(-0.5rem) translateX(0rem) rotate(45deg);
    transform: translateY(-0.5rem) translateX(0rem) rotate(45deg);
}

.menu {
    color: black;
    height: 64px;
    position: absolute;
    right: 0;
}

.menu.active .menu-inner {
    -webkit-transform: translate(-200px, 0);
    -ms-transform: translate(-200px, 0);
    transform: translate(-200px, 0);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.menu-inner {
    padding: 0;
    margin-top: -15px;
    right: -80px;
    position: absolute;
    -webkit-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    display: none;
}

.menu.active .menu-link,
.menu-inner li,
.menu-inner a {
    color: #FFF;
    list-style: none;
    text-decoration: none;
    line-height: 2;
    font-family: "Open Sans", sans-serif;
    font-size: 25px;
    font-weight: 300;
    padding: 5px;
}

.menu-inner li:hover {
    text-decoration: underline;
}

/*end of nav*/

.arrow-button {
    display: block;
    width: 61px;
    height: 61px;
    margin: 0 auto;
    cursor: pointer;
}

.arrow {
    -webkit-transform: translate(10px, 500px);
    -ms-transform: translate(10px, 500px);
    transform: translate(10px, 500px);
}

header > div {
    background: url('../img/project/header.jpg') no-repeat center fixed;
    background-size: cover;
    height: 600px;
}

.container {
    width: 95%;
    height: auto;
    margin: 3% auto;
    background-color: #f9f9f9;
    padding: 3%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.container > div:first-child {
    width: 60%;
    margin: 1%;
}

.container .text {
    width: 100%;
    margin-bottom: 10%;
}

.container .text h4 {
    color: #000000;
    font-family: "Open Sans", sans-serif;
    font-size: 45px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 2.25px;
    padding-bottom: 15%;
}

.container .text p {
    color: #000000;
    font-family: "Cardo - Regular", serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 1px;
}

.container .text p span {
    font-family: "Cardo - Bold", serif;
    font-weight: 700;
    letter-spacing: 1px;
}

.container .big-cards {
    width: 100%;
}

.container .big-cards div {
    width: 100%;
    margin-bottom: 1%;
}

.big-cards div img {
    width: 100%;
    display: block;
}

.container .small-cards {
    width: 30%;
}

.small-cards div {
    width: 100%;
    margin-bottom: 1%;
}

.small-cards div img {
    width: 100%;
    display: block;
}

.small-cards div img:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition: all 1.5s ease;
    -o-transition: all 1.5s ease;
    transition: all 1.5s ease;
    -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.small-cards div img:not(:hover) {
    -webkit-transition: 2s;
    -o-transition: 2s;
    transition: 2s;
}

.btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    margin: 5%;
}

.btn a {
    border: 1px solid #c0c0c0;
    text-align: center;
    padding: 15px 80px;
    background: none;
    color: #c0c0c0;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 32px;
    letter-spacing: 0.7px;
    text-transform: uppercase;
}

.btn a:hover {
    background-color: #021725;
    opacity: 0.5;
    color: whitesmoke;
    -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

footer {
    width: 100%;
    height: auto;
    background-color: #eeeeee;
    margin-top: 70px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 1.5%;
}

footer p {
    color: #505d68;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 34px;
}

a {
    text-decoration: none;
    color: #505d68;
}

li a:hover {
    text-decoration: underline;
    color: black;
}

a:focus,
button:focus {
    outline: none;
}



@media all and (max-width: 750px) {

    .logo-button {
        background-color: #555a5b;
        background-blend-mode: multiply;
        padding: 15px 20px;
    }

    header > div {
        background: url('../img/project/mobile/header.png') no-repeat center fixed;
        background-size: cover;
        height: 800px;
    }

    .arrow {
        -webkit-transform: translate(5px, 470px);
        -ms-transform: translate(5px, 470px);
        transform: translate(5px, 700px);
    }

    .menu-inner {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        margin-top: 50px;
        right: -190px;
    }

    .menu-inner {
        background: #555a5b;
        opacity: 0.5;
        border-radius: 10px;
    }

    .menu-inner li,
    .menu-inner a {
        padding: 3px;
        font-size: 23px;
    }

    .container {
        width: 95%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        padding: 5px;
        margin: 100px auto;
    }

    .container > div:first-child {
        width: 100%;
    }

    .container .text h4 {
        font-size: 60px;
        line-height: 45px;
    }

    .container .text p {
        font-size: 28px;
        line-height: 45px;
    }

    .container .small-cards {
        width: 100%;
        margin: 5px;
    }

    .small-cards div img:hover {
        -webkit-transform: scale(1.0);
        -ms-transform: scale(1.0);
        transform: scale(1.0);
    }

    .btns {
        display: none;
    }

    footer {
        width: 100%;
        height: auto;
        display: block;
        text-align: center;
        padding: 20px;
    }

    footer p {
        font-size: 20px;
    }


}
